.featuredProduct {
    width: 100%;
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* background-color: orange; */
}

.featuredProduct .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
}

.top div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: .5s;
}

.top div:hover {
    transform: translateX(3px);
}

/* font-size: 2rem; */
.top div a {
    color: var(--text-color);
    font-weight: 700;
}

.bottom {
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    /* justify-content: center; */
    gap: 2rem;
    align-items: start;
}

.bottom div {
    box-shadow: 1px 5px 15px #0000002d;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    /* height: 15rem;
    height: 15rem; */
}

.bottom div img {
    width: 100%;
    padding: 1rem;
    height: 100%;
    /* transition: .4s; */
}


@media (max-width: 768px) and (min-width: 481px) {
    .bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 479px) and (min-width: 0px) {
    .bottom {
        display: grid;
        grid-template-columns: repeat(1, 80vw);
    }

    .top h1 {
        font-size: 20px;
    }

    .top a {
        font-size: 16px;
        width: 4rem;
    }
}