.home {
    padding: 2rem;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-image: url('/banner1.jpg');
    background-position: center;
    background-size: cover;
    padding: 6rem;
}

.home .leftSide {
    height: 100%;
    width: 22rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home .leftSide h1 {
    font-size: 3.7rem;
}

.home .leftSide p {
    color: var(--text-color);
    line-height: 20px;
}

.home .leftSide button {
    width: 10rem;
    padding: 10px 12px;
    background-color: var(--primary-color);
    outline: none;
    transition: .4s;
    border: 2px solid var(--primary-color);
    font-size: 16px;
    border-radius: 10px;
    color: var(--bg-color);
    cursor: pointer;
}

.home .leftSide button:hover {
    background-color: transparent;
    color: var(--text-color);
}

@media (max-width: 769px) and (min-width: 481px) {
    .home .leftSide h1 {
        font-size: 3rem;
    }

    .home .leftSide p {
        width: 20rem;
    }

}

@media (max-width: 480px) and (min-width: 0) {
    .home .leftSide h1 {
        font-size: 2rem;
    }

    /* 
    .home .leftSide p {
        width: 90%;
    } */

    .home .leftSide {
        width: 90vw;
    }

    .home {
        padding: 4rem 1rem;
    }
}